In [3]:
import pandas as pd

c:\Users\USER\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [13]:
df = pd.read_csv(r'C:\Users\USER\Desktop\Learning\PyStrava\Outputs\All_Workouts_Table.csv')
df

,Unnamed: 0,resource_state,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,...,photos.primary.unique_id,photos.primary.urls.600,photos.primary.urls.100,photos.primary.source,photos.primary.media_type,photos.use_primary_photo,average_watts,kilojoules,device_watts,private_note
0,0,3,Afternoon Run,5996.9,2115,2193,42.0,Run,Run,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,Afternoon Workout,0.0,1440,1440,0.0,Workout,Workout,NaN,...,bf81866c-3d3a-4d07-9528-fd1d8abdbf29,https://dgtzuqphqg23d.cloudfront.net/7oIVVE1QO...,https://dgtzuqphqg23d.cloudfront.net/7oIVVE1QO...,1.0,1.0,True,NaN,NaN,NaN,NaN
2,2,3,Afternoon Trail Run,5734.3,2626,2981,70.0,Run,TrailRun,0.0,...,88a853ee-80d3-4424-81b8-d53aa8b43137,https://dgtzuqphqg23d.cloudfront.net/ZJLcI-viU...,https://dgtzuqphqg23d.cloudfront.net/ZJLcI-viU...,1.0,1.0,True,NaN,NaN,NaN,NaN
3,3,3,Afternoon Workout,0.0,1510,1510,0.0,Workout,Workout,NaN,...,6b0c7ff2-fc73-4575-a56c-73157ec2bcd0,https://dgtzuqphqg23d.cloudfront.net/yDTdXVvAC...,https://dgtzuqphqg23d.cloudfront.net/yDTdXVvAC...,1.0,1.0,True,NaN,NaN,NaN,NaN
4,4,3,Lunch Workout,0.0,1315,1315,0.0,Workout,Workout,NaN,...,0c14660e-cfe1-4c80-b8d2-68014554304d,https://dgtzuqphqg23d.cloudfront.net/7v1_-o5q3...,https://dgtzuqphqg23d.cloudfront.net/7v1_-o5q3...,1.0,1.0,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,787,3,Evening Run,3573.3,1734,1735,4.2,Run,Run,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,788,3,Afternoon Ride,10644.4,2267,2310,13.9,Ride,Ride,10.0,...,8e3028b5-c94a-4e5d-b7ed-cb9e95b65d8e,https://dgtzuqphqg23d.cloudfront.net/jlmlOUIGZ...,https://dgtzuqphqg23d.cloudfront.net/jlmlOUIGZ...,1.0,1.0,True,NaN,NaN,False,NaN
789,789,3,Morning Run,4431.9,2146,2175,15.6,Run,Run,0.0,...,25d16e94-511b-4563-abed-5315f108ec47,https://dgtzuqphqg23d.cloudfront.net/KTp73oNsK...,https://dgtzuqphqg23d.cloudfront.net/KTp73oNsK...,1.0,1.0,True,NaN,NaN,NaN,NaN
790,790,3,Finished Thesis,3447.8,1882,1958,3.9,Run,Run,0.0,...,99698d77-e27c-4c32-9aee-d9a6c12a58ba,https://dgtzuqphqg23d.cloudfront.net/MdU9P12lT...,https://dgtzuqphqg23d.cloudfront.net/MdU9P12lT...,1.0,1.0,True,NaN,NaN,NaN,NaN
791,791,3,Morning Run,4302.4,2177,2328,12.9,Run,Run,0.0,...,124dd403-c692-4cb8-acac-e39bbc7cf80f,https://dgtzuqphqg23d.cloudfront.net/hKHPglOBy...,https://dgtzuqphqg23d.cloudfront.net/hKHPglOBy...,1.0,1.0,True,NaN,NaN,NaN,NaN

In [15]:
df[['id','distance','moving_time','elapsed_time']]

             id  distance  moving_time  elapsed_time
0    9939802653    5996.9         2115          2193
1    9933791721       0.0         1440          1440
2    9927103494    5734.3         2626          2981
3    9919975714       0.0         1510          1510
4    9893694843       0.0         1315          1315
..          ...       ...          ...           ...
787  3517497833    3573.3         1734          1735
788  3516568449   10644.4         2267          2310
789  3509004014    4431.9         2146          2175
790  3496090180    3447.8         1882          1958
791  3483200309    4302.4         2177          2328

[792 rows x 4 columns]

In [16]:
df['distance'] = round(df['distance']/1000,2)
df['workout_time_min'] = round(df['moving_time']/60,2)
df["start_date"] = pd.to_datetime(df['start_date']).dt.date
df['average_speed'] = df['average_speed'] * 3.6
df['max_speed'] = df['max_speed'] * 3.6
df = df.rename(columns={'id':'activity_id','average_speed':'average_speed_km/h','max_speed':'max_speed_km/h'})
df['sport_type'] = df['sport_type'].replace({'Workout':'Functional-Cardio Workout'})
# Creating the start and end latitude and longitude
df[['start_lat', 'start_long']] = df['start_latlng'].apply(lambda x: pd.Series(str(x).strip('[]').split(',')))
df[['end_lat', 'end_long']] = df['end_latlng'].apply(lambda x: pd.Series(str(x).strip('[]').split(',')))

df = df[['activity_id',
'name',
'start_date',
'sport_type',
'distance',
'workout_time_min',
'calories',
'total_elevation_gain',
'start_lat',
'start_long',
'end_lat',
'end_long',
'average_speed_km/h',
'max_speed_km/h',
'average_temp',
'average_heartrate',
'max_heartrate']]

In [17]:
df

,activity_id,name,start_date,sport_type,distance,workout_time_min,calories,total_elevation_gain,start_lat,start_long,end_lat,end_long,average_speed_km/h,max_speed_km/h,average_temp,average_heartrate,max_heartrate
0,9939802653,Afternoon Run,2023-09-28,Run,6.00,35.25,477.0,42.0,30.400892570614815,-97.68466645851731,30.401184177026153,-97.68474499695003,10.2060,18.9504,34.0,156.9,175.0
1,9933791721,Afternoon Workout,2023-09-27,Functional-Cardio Workout,0.00,24.00,308.0,0.0,,NaN,,NaN,0.0000,0.0000,33.0,148.7,168.0
2,9927103494,Afternoon Trail Run,2023-09-26,TrailRun,5.73,43.77,492.0,70.0,30.40038554929197,-97.68403890542686,30.400530472397804,-97.68348041921854,7.8624,13.4712,32.0,147.3,166.0
3,9919975714,Afternoon Workout,2023-09-25,Functional-Cardio Workout,0.00,25.17,326.0,0.0,,NaN,,NaN,0.0000,0.0000,34.0,150.6,167.0
4,9893694843,Lunch Workout,2023-09-21,Functional-Cardio Workout,0.00,21.92,301.0,0.0,,NaN,,NaN,0.0000,0.0000,33.0,156.0,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,3517497833,Evening Run,2020-05-26,Run,3.57,28.90,352.5,4.2,27.46725,-99.505905,27.467154,-99.505893,7.4196,17.6400,NaN,NaN,NaN
788,3516568449,Afternoon Ride,2020-05-26,Ride,10.64,37.78,0.0,13.9,27.484089,-99.508577,27.483884,-99.508626,16.9020,38.8800,NaN,NaN,NaN
789,3509004014,Morning Run,2020-05-25,Run,4.43,35.77,443.1,15.6,27.466956,-99.506607,27.467437,-99.506648,7.4340,16.9200,NaN,NaN,NaN
790,3496090180,Finished Thesis,2020-05-23,Run,3.45,31.37,340.5,3.9,27.466581,-99.505082,27.467184,-99.505856,6.5952,17.2800,NaN,NaN,NaN
791,3483200309,Morning Run,2020-05-20,Run,4.30,36.28,429.2,12.9,27.467594,-99.506239,27.468135,-99.506834,7.1136,26.6400,NaN,NaN,NaN

In [33]:
# we have to recreate this in the time_minutes column 
(21.92 - (21.92%1)) + (((21.92%1) * 60)/100)

21.552

In [31]:
(((21.92%1) * 60)/100)

0.552000000000001

In [22]:
35.25%1

0.25

In [23]:
0.25*60

15.0

In [24]:
24.00%1

0.0