In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pandas.io.sql as sqlio
import sys
sys.path.extend([
    r'C:\Users\Usuario\OneDrive\Desktop\Learning-Testing\PyStrava',
    r'C:\Users\Usuario\OneDrive\Desktop\Learning-Testing\PyStrava\Scripts'
])
from Functions import *
from StravaCredentials import *

In [2]:
# Creating connection to database and creating engine to upload data
db_url = f'postgresql://{username}:{pwd}@{hostname}:{port_id}/{database}'
engine = create_engine(db_url)

In [12]:
df = pd.read_csv(r'C:\Users\Usuario\OneDrive\Desktop\Learning-Testing\PyStrava\Outputs\all_workouts_df.csv')

In [13]:
df

,Unnamed: 0,activity_id,name,start_date,sport_type,distance,workout_time_min,calories,total_elevation_gain,start_lat,...,total_elevation_gain_score,average_heartrate_score,max_heartrate_score,avg_lap_time_score,lap_count_score,avg_speed_score,max_speed_score,effort_score,effort_score_label,effort_score_rank
0,0,10810033987,Afternoon Workout,2024-02-21,Functional-Cardio Workout,0.00,30.26,298.0,0.0,NaN,...,0,15,30,1,35,0,0,131,Medium Effort,3
1,1,10804513136,Evening Workout,2024-02-21,Functional-Cardio Workout,0.00,32.50,420.0,0.0,NaN,...,0,20,25,5,25,0,0,140,Medium Effort,3
2,2,10793103601,Morning Workout,2024-02-19,Functional-Cardio Workout,0.00,21.16,221.0,0.0,NaN,...,0,15,30,5,20,0,0,110,Low Effort,2
3,3,10783927933,Evening Workout,2024-02-18,Functional-Cardio Workout,0.00,60.10,429.0,0.0,NaN,...,0,10,15,5,35,0,0,155,High Effort,4
4,4,10770299093,Afternoon Workout,2024-02-15,Functional-Cardio Workout,0.00,38.30,362.0,0.0,NaN,...,0,15,15,1,35,0,0,131,Medium Effort,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,878,3517497833,Evening Run,2020-05-26,Run,3.57,28.54,352.5,4.2,27.467250,...,5,5,5,15,5,15,20,140,Medium Effort,3
879,879,3516568449,Afternoon Ride,2020-05-26,Ride,10.64,37.47,0.0,13.9,27.484089,...,5,5,5,20,5,20,30,165,High Effort,4
880,880,3509004014,Morning Run,2020-05-25,Run,4.43,35.46,443.1,15.6,27.466956,...,5,5,5,20,5,15,20,160,High Effort,4
881,881,3496090180,Finished Thesis,2020-05-23,Run,3.45,31.22,340.5,3.9,27.466581,...,5,5,5,20,5,10,20,145,Medium Effort,3
882,882,3483200309,Morning Run,2020-05-20,Run,4.30,36.17,429.2,12.9,27.467594,...,5,5,5,20,5,15,25,165,High Effort,4

In [11]:
df

,activity_id,name,start_date,sport_type,distance,workout_time_min,calories,total_elevation_gain,start_lat,start_long,end_lat,end_long,average_speed_km/h,max_speed_km/h,average_temp,average_heartrate,max_heartrate,avg_lap_time,lap_count,pace
0,10793103601,Morning Workout,2024-02-19,Functional-Cardio Workout,0.00,21.16,221.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.0000,25.0,132.3,179.0,5.18,4,0.00
1,10783927933,Evening Workout,2024-02-18,Functional-Cardio Workout,0.00,60.10,429.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.0000,26.0,117.8,155.0,5.31,11,0.00
2,10770299093,Afternoon Workout,2024-02-15,Functional-Cardio Workout,0.00,38.30,362.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.0000,29.0,130.0,161.0,3.58,10,0.00
3,10759959127,Morning Flow,2024-02-14,Functional-Cardio Workout,0.00,31.24,204.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.0000,27.0,107.0,149.0,7.70,4,0.00
4,10756748628,Afternoon Workout,2024-02-13,Functional-Cardio Workout,0.00,20.15,242.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.0000,28.0,141.6,178.0,3.79,5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,9376157665,Lunch Workout,2023-07-02,Functional-Cardio Workout,0.00,15.43,200.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.0000,35.0,148.1,172.0,3.65,4,0.00
145,9369658806,Morning Run,2023-07-01,Run,7.41,52.38,615.0,33.0,27.467119,-99.506110,27.467278,-99.505920,8.4420,14.1840,34.0,155.3,178.0,6.39,8,7.04
146,9365478633,Night Yoga,2023-07-01,Yoga,0.00,42.35,143.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.0000,30.0,86.7,124.0,42.35,1,0.00
147,9359950371,Evening Workout,2023-06-30,Functional-Cardio Workout,0.00,26.15,240.0,0.0,NaN,NaN,NaN,NaN,0.0000,0.0000,35.0,126.5,167.0,4.98,5,0.00
148,9347431801,Evening Run,2023-06-27,Run,3.70,28.19,280.0,9.0,27.467681,-99.506078,27.467383,-99.506697,7.8336,11.1456,38.0,143.8,159.0,6.84,4,7.37

In [ ]:
df = pd.read_csv(r'')

In [ ]:
# Dividing all_workouts_df to multiple tables to then upload to database
activity, activity_name, activity_coordinates, activity_details, activity_scores = DivideTables(df)

In [ ]:


# Sending data to Postgresql
print('Uploading data to database.')

activity.to_sql('activity', engine, if_exists='replace', index=False, method = 'multi')
activity_name.to_sql('activity_name', engine, if_exists='replace', index=False, method = 'multi')
activity_coordinates.to_sql('activity_coordinates', engine, if_exists='replace', index=False, method = 'multi')
activity_details.to_sql('activity_details', engine, if_exists='replace', index=False, method = 'multi')
activity_scores.to_sql('activity_scores', engine, if_exists='replace', index=False, method = 'multi')
laps_df.to_sql('laps', engine, if_exists='replace', index=False, method = 'multi')

print('Database updated.')