In [20]:
# Project idea -> add workout counter in look studio google
# Packages required for this project:
import requests
import pandas as pd
import numpy as np
import pygsheets
import datetime
from datetime import date
import json
import webbrowser
from time import sleep
import time
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import sys
import sys
sys.path.extend([
    r'C:\Users\Usuario\Desktop\Learning-Testing\PyStrava',
    r'C:\Users\Usuario\Desktop\Learning-Testing\PyStrava\Scripts'
])
from Functions import *
from StravaCredentials import *
from sqlalchemy import create_engine
import psycopg2
import pandas.io.sql as sqlio

In [5]:
access_token = GetToken(data)

In [6]:
df = retrieve_activities(access_token)

Getting page number: 1
Extraction of page 1 complete
Getting page number: 2
Extraction of page 2 complete
Getting page number: 3
Extraction of page 3 complete
Getting page number: 4
Extraction of page 4 complete
Getting page number: 5
Extraction of page 5 complete
Getting page number: 6
Extraction of page 6 complete
Extraction done

In [24]:
df.head(1)
updated_workouts = df.copy()
len(updated_workouts)

887

In [12]:
# Creating connection to database and creating engine to upload data
db_url = f'postgresql://{username}:{pwd}@{hostname}:{port_id}/{database}'
engine = create_engine(db_url)

conn = psycopg2.connect(
    host = hostname,
    dbname = database,
    user = username,
    password = pwd,
    port = port_id
)

In [17]:
# Creating list to compare against not updated list
updated_workouts = list(updated_workouts['id'])

In [21]:
# Creating a cursor and also quering the database to get the current list of workouts from activity table
cur = conn.cursor()
query = "select * from activity"

# Turning query into dataframe - all activities
not_updated_workouts = sqlio.read_sql_query(query, conn)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10312\1759915765.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  not_updated_workouts = sqlio.read_sql_query(query, conn)

In [23]:
not_updated_workouts

     activity_id  start_date                 sport_type effort_score_label
0    10810033987  2024-02-21  Functional-Cardio Workout      Medium Effort
1    10804513136  2024-02-21  Functional-Cardio Workout      Medium Effort
2    10793103601  2024-02-19  Functional-Cardio Workout         Low Effort
3    10783927933  2024-02-18  Functional-Cardio Workout        High Effort
4    10770299093  2024-02-15  Functional-Cardio Workout      Medium Effort
..           ...         ...                        ...                ...
878   3517497833  2020-05-26                        Run      Medium Effort
879   3516568449  2020-05-26                       Ride        High Effort
880   3509004014  2020-05-25                        Run        High Effort
881   3496090180  2020-05-23                        Run      Medium Effort
882   3483200309  2020-05-20                        Run        High Effort

[883 rows x 4 columns]

In [22]:
# Creating a list of ids from the list of activity ids
not_updated_workouts_list = list(not_updated_workouts['activity_id'])